.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    padding: 5%;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

main {
    width: 800px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    /*impedir que as divs de baixo o excedam*/
}

.header {
    margin: 0;
    padding: 7%;
    display: flex;
    flex-direction: column;
}

.header p {}

h1 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    margin: 0 0 25px 0;
    padding: 0;
}

h2 {
    color: hsl(71, 73%, 54%);
    font-weight: 400;
    margin: 0 0 15px 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

.left {
    box-sizing: border-box;
    flex: 1;
    padding: 7%;
    color: white;
    background-color: hsl(179, 62%, 43%);
}

.left p {
    margin-bottom: 30px;
    font-size: 18px;
    color: hsl(204, 43%, 93%);
}

.box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.currency {
    font-size: 30px;
    font-weight: 700;
    margin: 0 15px 0 0;
    padding: 0;
    color: white;
}

.qtd {
    font-size: 15px;
    color: hsl(204, 43%, 93%)
}

button {
    width: 100%;
    height: 50px;
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
}

.right {
    box-sizing: border-box;
    flex: 1;
    padding: 7%;
    color: white;
    background-color: hsl(179, 62%, 43%);
    opacity: .8;
}

.right p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: hsl(204, 43%, 93%);
}

h4 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        width: 90%;
    }

    .main {
        flex-direction: column;
    }
}